.searchItem{
    font-size: 12px;
}

.searchItemDetail{
    font-size: 10px;
}

.addFoodRow{
    font-size:16px; 
    padding:5px; 
    border-bottom:1px solid #D5D5D5;
}
/*
div:focus {
    background-color:#a6a6a6;
}*/