<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4 ui-lg-8 spinnerDiv" [ngStyle]="appPageHeaderDivStyle">
                    <div class="ui-g-6 ui-md-4 ui-lg-12 leftPad5">
                        <form [formGroup]="dateSpinnerForm" class="ui form" novalidate>
                            <button pButton (click)="onDecrement()" icon="fa-backward"></button>
                            <div style="padding-top: 10px;width: 208px; display: inline-block;">
                                <p-calendar formControlName="currentDate" [defaultDate]="currentDate" showAnim="slideDown" (onSelect)="onDateSelected($event)" [showIcon]="true" [readonlyInput]="true" dateFormat="MM d, yy"></p-calendar>
                            </div>

                            <button pButton (click)="onIncrement()" icon="fa-forward"></button>
                            <button pButton (click)="onLoadFoodRequest()" icon="fa-cutlery" iconPos="left" [disabled]="!isLoadFoodEnabled"></button>
                        </form>
                    </div>
                </div>

                <div class="ui-g-6 ui-md-4 ui-lg-3">
                </div>
            </div>
        </div>
    </div>
</div>