<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 ui-lg-4">
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-4">
          <p-panel header="New member email verification" [toggleable]="false">
            <div class="ui raised segment">
              <div>
                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <p>We have sent an email to {{emailAddress}}. Please open this email and press on the activation link
                       to verify your email address. The link is only valid for 3 hours, past this point, you'll have to resend the verification.</p>
                    <p>
                      Thank you for signing up and we wish you the best in your Ketogeniq journey.
                    </p>
                  </div>
                </div>

                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <button pButton type="button" label="Ok" (click)="close()"></button>
                  </div>
                </div>


                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <p> If you didn't receive the verification email:</p>
                    <button pButton type="button" label="Resend Verify email"></button>
                  </div>
                </div>
              </div>
            </div>
          </p-panel>
        </div>

        <div class="ui-g-6 ui-md-4 ui-lg-4">
        </div>
      </div>
    </div>
  </div>
</div>