
.width10 {
    width: 10em;
    text-align:left;
}

.width15 {
    width: 5em;
    text-align:center;
}


.width20 {
    width: 12em;
    text-align:left;
}

.width30 {
    width: 30em
}

.width40 {
    width: 40em
}

.width50 {
    width: 50em
}

.width60 {
    width: 60em
}

.tdCenter {
  text-align: center;
}

.diaryButton {
    height: 25px;
    widows: 25px;
    margin-left: 4px;
}

.foodDiv {
    margin-bottom: 5px;
}