<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 ui-lg-4">
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-4">
          <p-panel [toggleable]="false">
            <header>
              Reset Password &nbsp;&nbsp;&nbsp;<i *ngIf="!isReset" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
            </header>
            <div *ngIf="!isReset">
              <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()" class="uiform">
                <div class="ui-g-row">
                  <div class="ui-grid-col-4 labelDiv">
                    <label for="email" class="ui-widget labelCheckbox">Email Address:</label>
                  </div>
                  <div class="ui-grid-col-8">
                    <input type="text" size="15" pInputText formControlName="email" class="inputWidth" />
                    <kg-errorMessages class="uiMessage" [control]="resetPasswordForm.controls.email"></kg-errorMessages>
                  </div>
                </div>

                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-4 labelDiv">
                    <label class="ui-widget labelCheckbox">Password:</label>
                  </div>
                  <div class="ui-grid-col-8">
                    <input type="password" size="15" pInputText formControlName="password" class="inputWidth" autofocus/>
                    <kg-errorMessages class="uiMessage" [control]="resetPasswordForm.controls.password"></kg-errorMessages>
                  </div>
                </div>

                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-4 labelDiv">
                    <label class="ui-widget labelCheckbox">Confirm Password:</label>
                  </div>
                  <div class="ui-grid-col-8">
                    <input type="password" size="15" pInputText formControlName="confirmPassword" class="inputWidth" />
                    <kg-errorMessages class="uiMessage" [control]="resetPasswordForm.controls.confirmPassword"></kg-errorMessages>
                  </div>
                </div>

                <div class="ui-grid-row form-group" *ngIf="errorMessage != ''">
                  <div class="ui-grid-col-12">
                    <p class="uiMessage">{{errorMessage}}</p>
                  </div>
                </div>

                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-6">
                    <kg-errorMessages class="uiMessage" [control]="resetPasswordForm"></kg-errorMessages>
                  </div>

                  <div class="ui-grid-col-3">
                    <button pButton type="button" (click)="closeresetPasswordForm()" label="Cancel"></button>
                  </div>

                  <div class="ui-grid-col-3">
                    <button pButton type="submit" label="resetPassword" [disabled]="!resetPasswordForm.valid"></button>
                  </div>
                </div>
              </form>
            </div>

            <div class="ui-grid-row" *ngIf="isReset">
              <div class="ui-grid-col-12">
                <p>
                  Thank you for signing up.
                </p>
                <p>Your password has been changed. We will take you to the login screen where you can begin
                  your Ketogeniq journey.</p>
              </div>
            </div>
          </p-panel>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-4">
          <div *ngFor="let event of events">
            <pre> {{ event | json }} </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>