<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4 ui-lg-8 spinnerDiv"  [ngStyle]="appPageHeaderDivStyle">

                    <div class="ui-g-6 ui-md-4 ui-lg-3 leftPad5">
                        <button pButton class="homeButton" (click)="onDecrement()" label="-"></button>
                    </div>
                    <div class="ui-g-6 ui-md-4 ui-lg-5">
                        <label class="ui-widget labelCheckbox">  {{curValue}} {{unit}}  </label>
                    </div>
                    <div class="ui-g-6 ui-md-4 ui-lg-3">
                        <button pButton class="homeButton" (click)="onIncrement()" label="+"></button>
                    </div>
                </div>
                
                <div class="ui-g-6 ui-md-4 ui-lg-3">
                </div>
            </div>
        </div>
    </div>
</div>