<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 ui-lg-4">
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-4">
          <p-panel header="New member email verification" [toggleable]="false">
            <div class="ui raised segment"> 
              <div *ngIf="isComplete">
                <div *ngIf="isSuccess" class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <p>You have successfully verified your email address. We will take you to the login screen where you can
                      begin your Ketogeniq journey.</p>
                    <p>
                      Thank you for signing up and we wish you the best.
                    </p>
                  </div>
                </div>

                <div *ngIf="!isSuccess" class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <p>Your email address verification has failed. Please resend the verification and try again. If you continue
                      to have problems, <a href="mailto:ketosupport@ketogeniq.com">Send Support Email</a> .</p>
                  </div>
                </div>

                <div class="ui-grid-row form-group" *ngIf="errorMessage != ''">
                  <div class="ui-grid-col-12">
                    <p class="uiMessage">{{errorMessage}}</p>
                  </div>
                </div>

                <div class="ui-grid-row form-group">
                  <div class="ui-grid-col-5">
                  </div>
                  <div class="ui-grid-col-7">
                    <button pButton type="button" label="Ok" (click)="close()"></button>
                  </div>
                </div>


                <div *ngIf="!isSuccess" class="ui-grid-row form-group">
                  <div class="ui-grid-col-12">
                    <p> If your verification failed and you need to retry: </p>
                    <button pButton type="button" label="Resend Verify email"></button>
                  </div>
                </div>
              </div>
            </div>
          </p-panel>
        </div>

        <div class="ui-g-6 ui-md-4 ui-lg-4">
        </div>
      </div>
    </div>
  </div>
</div>